<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DisplayAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DisplayAdmin.Properties.Settings>
            <setting name="JSON_FILE_PATH" serializeAs="String">
                <value>jireh\DisplaySharedData\JSON\</value>
            </setting>
            <setting name="ENT_USER" serializeAs="String">
                <value>MANAGEMENT</value>
            </setting>
            <setting name="IMAGE_FILE_PATH" serializeAs="String">
                <value>jireh\DisplaySharedData\IMAGE\</value>
            </setting>
            <setting name="MOVIE_FILE_PATH" serializeAs="String">
                <value>jireh\DisplaySharedData\MOVIE\</value>
            </setting>
            <setting name="ROOT_FILE_PATH" serializeAs="String">
                <value>\\192.168.0.1\</value>
            </setting>
        </DisplayAdmin.Properties.Settings>
    </userSettings>
</configuration>